In [1]:
import pandas as pd

,djk_num,normal_djk_num,abnormal_djk_num,not_using_djk,bal_duebill,normal_bal_duebill,online_tran_duebill,offline_tran_duebill,has_car_etc,has_personal_bank_grwy,...,tran_amt_huanb,tran_times_huanb,tran_amt_duebill,tran_times_duebill,tran_amt_etc,tran_times_etc,tran_amt_grwy,tran_times_grwy,tran_amt_gzdf,tran_times_gzdf
uid,,,,,,,,,,,,,,,,,,,,,
110103195608215687,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11010319750908502X,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
110104197003065474,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11010420141003552X,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
110110196711285649,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
810000200811269255,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,157.0,3.0
830000194403109397,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
830000197007029225,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
830000200706189396,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,260.0,1.0
91320982840521971X,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,682.8,2.0

In [2]:
from clickhouse_driver import Client

host = "localhost"
port = 9099
user = "sjjc"
password = "taosan506"
database = "dm"
send_receive_timeout = 10
client = Client(host=host, port=port, user=user, password=password, database=database,
                send_receive_timeout=send_receive_timeout)
df16_other_sql = """
select * from Result_16plus;
"""
df16_other_list = client.execute(df16_other_sql)

In [3]:
attr_list = ['uid', 'sjyh_tran_amt_count', 'sjyh_tran_amt_sum', 'cust_bal_sum', 'cust_all_bal_sum', 'cust_sa_bal', 'cust_fin_bal', 'cust_cd_bal', 'is_black', 'career', 'base_sumloan_amt', 'base_count_loan_amt', 'base_sum_loan_bal', 'base_sum_credit_amt', 'base_max_frst_intr', 'base_max_actu_intr', 'base_max_guar_con_value', 'base_max_book_acct_amt', 'owed_int_times_90l', 'owed_int_times_90g', 'overdue_times_90l', 'overdue_times_90g', 'base_all_bal', 'base_bad_bal', 'base_due_intr', 'base_norm_bal', 'base_delay_bal', 'sex', 'birthday', 'education', 'marrige', 'reg_add', 'home_add']
new_data_df = pd.DataFrame(columns=attr_list, data=df16_other_list)

In [8]:
new_data_df=new_data_df.fillna({
    'sjyh_tran_amt_count' :0 ,
    'sjyh_tran_amt_sum' :0 ,
    'cust_bal_sum' :0 ,
    'cust_all_bal_sum' :0 ,
    'cust_sa_bal'  :0 ,
    'cust_fin_bal'  :0 ,
    'cust_cd_bal'  :0 ,
    'is_black' :0 ,
    'career'  :0 ,
    'base_sumloan_amt' :0 ,
    'base_count_loan_amt' :0 ,
    'base_sum_loan_bal':0 ,
    'base_sum_credit_amt':0 ,
    'base_max_frst_intr':0 ,
    'base_max_actu_intr':0 ,
    'base_max_guar_con_value':0 ,
    'base_max_book_acct_amt':0,
    'owed_int_times_90l':0,
    'owed_int_times_90g':0,
    'overdue_times_90l':0,
    'overdue_times_90g':0,
    'base_all_bal':0,
    'base_bad_bal':0,
    'base_due_intr':0,
    'base_norm_bal':0,
    'base_delay_bal':0,
    'sex':0,
    'birthday':0,
    'education':0,
    'marrige':0,
    'reg_add':0,
    'home_add':0
})

In [9]:
def is_black_convert(s):
    if s=='Y':
        return 1
    elif s=='N':
        return 0
    return -1

In [11]:
new_data_df['is_black'] = new_data_df['is_black'].apply(is_black_convert)

In [12]:
def gender_convert(s):
    if s=='男':
        return 1
    elif s=='女':
        return 0
    return -1

In [13]:
new_data_df['sex'] = new_data_df['sex'].apply(gender_convert)

In [14]:
def birthdat_convert(s):
    b = 2022-int(s[0:4])
    if b<0 or b>200:
        return -1
    return b

In [15]:
new_data_df['birthday'] = new_data_df['birthday'].apply(birthdat_convert)

In [16]:
def education_converter(ed):
    if ed=='其他':
        return 1
    elif ed=='初中':
        return 2
    elif ed=='中专':
        return 3
    elif ed=='高中':
        return 4
    elif ed=='大专' or ed=='技术学校':
        return 5
    elif ed=='大学本科':
        return 6
    elif ed=='研究生':
        return 7
    elif ed=='博士后':
        return 8
    return 0

In [17]:
new_data_df['education'] = new_data_df['education'].apply(education_converter)

In [18]:
def marriage_converter(m):
    if m=='未婚':
        return 1
    elif m=='已婚' or m=='初婚' or m=='复婚' or m=='再婚':
        return 2
    elif m=="丧偶" or m=="离婚":
        return 3
    else:
        return 0

In [20]:
new_data_df['marrige'] = new_data_df['marrige'].apply(marriage_converter)

In [21]:
def career_converter(c):
    if c=='生产、运输设备操作人员及有关人员':
        return 1
    elif c=='专业技术人员':
        return 2
    elif c=='农、林、牧、渔、水利业生产人员':
        return 3
    elif c=='军人':
        return 4
    elif c=='国家机关、党群组织、企业、事业单位负责人' or c=='办事人员和有关人员':
        return 5
    elif c=='商业、服务业人员':
        return 6
    return 0

In [22]:
new_data_df['career'] = new_data_df['career'].apply(marriage_converter)

In [24]:
new_data_df = new_data_df.drop(columns=['reg_add','home_add'])

In [26]:
new_data_df.to_csv('./result16-other.csv',encoding='utf-8',index=False)